script(src='node_modules/jquery/dist/jquery.min.js')
script(src='node_modules/underscore/underscore-min.js')
script(src='node_modules/tinymce/tinymce.jquery.min.js')
script(src='node_modules/angular/angular.min.js')
script(src='node_modules/angular-ui-tinymce/src/tinymce.js')
script(src='app/lib/functions.js')
script(src='app/index.js')
