body
  overflow: hidden

.list-group-item
  border: none
  padding-right: 0
  padding-bottom: 0
  padding-top: 0
  font-size: 12px

  & .list-group
    margin-bottom: 0

  .open-folder-btn
    font-size: 12px
    cursor: pointer
    transition: 0.3s ease

.list-group-item-inner
  cursor: pointer
  padding: 5px 10px

  &:hover,
  &:focus
    background: #dcdcdc

  &.active
    background: #3a92d6
    color: #fff

    & > .glyphicon
      color: #fff

  .glyphicon
    margin-right: 10px

  .title
    display: inline-block
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    position: relative
    top: 5px
    width: calc(100% - 100px)

  & > .badge
    margin-left: 10px

.rotate-90
  transform: rotate(90deg)

.no-select
  -webkit-user-select: none
  user-select: none

.tree
  overflow-y: auto
  overflow-x: hidden
  height: 100%
  float: left

#folders-col
  width: 200px
  min-width: 100px
  margin-right: 20px

#notes-col
  width: 200px
  min-width: 100px

.editor-col
  height: 100%
  float: right
